<html>
<head>
	<title>ILOs</title>
</head>
<body>






	<h1 style="color:#fff" align="center" >ILOs</h1>
	<br>
	<br>

    
<br> <br>




<div class="card " style="background-color:#ffffff; border-color: lightslategray; border-radius: 20px">
  <h1 class="card-header" style="color:#fff">What are standards?</h1>
  <div class="card-body">
    <h5 class="card-title"style="color:#6B6E70">the Intended Learning Outcomes (ILO's)</h5>
    <p class="card-text"style="color:#474B4F">Standards are published documents created to ensure the reliability of the materials, products, methods, and/or services.  They establish requirements, specifications, guidelines, characteristics, and/or procedures designed. Typically, they are developed through a consensus process and approved by various national and international agencies, professional societies, or industry organizations. Standards are the minimally accepted professional practice and/or quality that must be observed.</p> 
  </div>
</div>

<br> <br> <br>

<div style="color:#fff;">
	
	<h3>A. Knowledge and Understanding Skills :</h3>
	<h5>1. Use high-level programming languages :</h5>
	<p>In computer science a high-level programming language is a programming language with strong abstraction from the details of the computer. In contrast to low-level programming languages, it may use natural language elements, be easier to use, or may automate (or even hide entirely) significant areas of computing systems (e.g.memory management), making the process of developing a program simpler and more understandable than when using a lower-level language .</p>
	<h5>2. Outline fundamental topics in computer systems, including hardware architectures and operating systems :</h5>
	<p>Outline fundamental topics in computer systems, including hardware architectures and operating systems.</p>
	<h5>3. Demonstrate strong knowledge of fundamentals of programming and the construction of computer-based systems :</h5>
	<p>This is one of a series of subject guides published by the University. We regret that due to pressure of work the author is unable to enter into any correspondence relating to, or arising from, the guide. If you have any comments on this subject guide, favorable or unfavorable, please use the form at the back of this guide.</p>
	<h5>4. Describe the basic parts of a computer system and their relationships :</h5>
	<p>Whether it's a gaming system or a home PC, the five main components that make up a typical, present-day computer include: A motherboard, A Central Processing Unit (CPU), A Graphics Processing Unit (GPU), also known as a video card, Random Access Memory (RAM), also known as volatile memory, Storage: Solid State Drive (SSD) or Hard Disk Drive (HDD) .</p>
	<h5>5. Explain basic computer terminology :</h5>
	<p>The execution of the instructions within the computer system is very fast. It measures it in cycles of time and refers it to as megahertz. That’s why the ‘Mhz’ of a computer’s processor is sometimes referred to as the clock speed. Think about CPUs (and aligned circuitry) beating like a heart, this pulsing/beating is expressed as “MHz” e.g. 2000Mhz.</p>
	<h5>6. Discuss the history of computers, networking, and software :</h5>
	<p>computers that use a set of common communication protocols over digital interconnections for the purpose of sharing resources located on or provided by the network nodes.</p>
	<h5>7. State the rules of using the Internet and its access :</h5>
	<p>The Internet (or internet) is the global system of interconnected computer networks that uses the Internet protocol suite (TCP/IP) to communicate between networks and devices.</p>
	<h5>8. Outline fundamental topics in computing, including software architectures, software engineering principles and methodologies, and software tools :</h5>
	<p>Software architecture refers to the fundamental structures of a software system and the discipline of creating such structures and systems</p>
	<h5>9. Identify basic fundamentals of data structures and algorithms :</h5>
	<p>These lecture notes cover the key ideas involved in designing algorithms. We shall see how they depend on the design of suitable data structures, and how some structures and algorithms are more efficient than others for the same task.</p>
	<h5>10.  Be familiar with the main electrical circuit elements :</h5>
	<p>The increasing demands on machines and installations in terms of operational safety and accident prevention require comprehensive measures to protect both man and machine. For example, insulation faults in a control system must not lead to hazardous machine motions.</p>
	<h5>11. Describe the main circuit theories :</h5>
	<p>Electric circuits or networks are the assemblage of devices and or equipment needed to connect the source of energy to the user or the device which exploits it.</p>
	<h5>12. Be familiar with the different electronic devices :</h5>
	<p>If you are new to electronics or starting to build electronic circuits, then the important thing to do is to get familiar with few Basic Electronic Components and Equipment.</p>
	<h5>13. Define the basic applications of each electronic device :</h5>
	<p>Electronics comprises the physics, engineering, technology and applications that deal with the emission, flow and control of electrons in vacuum and matter</p>
	<h5>14. Describe the operation of the basic electronic circuits :</h5>
	<p>The world of electronic components can be summarized with a short list of items. Here are more details on these essential parts of modern electronics.</p>
	<h5>15. Differentiate and integrate different types of functions :</h5>
	<p>Differentiation and Integration are the two major concepts of calculus. Differentiation is used to study the small change of a quantity with respect to unit change of another.</p>
	<h5>16. Identify the core fundamentals of analysis, algebra and applied mathematics :</h5>
	<p>Mathematics is the study of relationships among quantities, magnitudes and properties.  It uses logical operations to find order within the appearance of chaos and to identify intrinsic relations and patterns among seemingly disparate questions and problems.</p>
	<h5>17. Define the motion of different objects regardless of their mass and dimensions, differentiation between linear, two dimension, circular, rotation, rolling and oscillatory motions :</h5>
	<p>So far in our study of physics we have (with few exceptions) dealt with particles, objects whose spatial dimensions were unimportant for the questions we were asking. We now deal with the (elementary!) aspects of the motion of extended objects, objects whose dimensions are important.</p>
	<h5>18. Understand the concept of force and mass, more about the three laws of motion :</h5>
	<p>Newton did not derive the three laws of motion, but rather deduced them from a multitude of experiments performed by other scientists, especially Galileo Galilei (who died the year Newton was born).</p>
	<h5>19. Define sound waves as a type of mechanical waves :</h5>
	<p>A wave is a disturbance that travels or propagates from the place where it was created. Waves transfer energy from one place to another, but they do not necessarily transfer any mass. Light, sound, and waves in the ocean are common examples of waves.</p>
	<h5>20. Define scientific problems properly :</h5>
	<p>Responsible Science is a comprehensive review of factors that influence the integrity of the research process. Volume I examines reports on the incidence of misconduct in science and reviews institutional and governmental efforts to handle cases of misconduct.</p>
	<h5>21. Demonstrate basic knowledge and understanding of a core of analysis and applied mathematics :</h5>
	<p>In the previous chapter, we examined teaching for mathematical proficiency. We now turn our attention to what it takes to develop proficiency in teaching mathematics.</p>
	<h5>22. Demonstrate basic knowledge and explaining fundamental principles and grammars of using English in computing, how it support IT-based applications :</h5>
	<p>Grammar for Academic Writing provides a selective overview of the key areas of English grammar that you need to master, in order to express yourself correctly and appropriately in academic writing.</p>
	<h5>23. Define the purpose and nature of the field of organizational behavior :</h5>
	<p>It is the systematic study and application of knowledge about how individuals and groups act within the organizations where they work. OB draws from other disciplines to create a unique field.</p>
	<h5>24. Discuss various types of behavior modification theories and techniques :</h5>
	<p>Behavior modification is a treatment approach that replaces undesirable behaviors with more desirable ones by using the principles of operant conditioning.</p>
	<h5>25. Define the concept of an algorithm and a few specific examples of algorithms :</h5>
	<p>An algorithm is a finite list of instructions, most often used in solving problems or performing tasks. You may have heard the term used in some fancy context about a genius using an algorithm to do something highly complex, usually in programming.</p>
	<h5>26. Identify the essential of the concepts of Programming Techniques :</h5>
	<p>Think about some of the different ways that people use computers. In school, students use computers for tasks such as writing papers, searching for articles, sending email, and participating in online classes.</p>
	<h5>27. Describe fundamental topics in computing including software architectures, software engineering principles and methodologies and software tools :</h5>
	<p>Software engineering is the systematic application of engineering approaches to the development of software.</p>
	<h5>28. Outline basic knowledge and understanding of a core of analysis :</h5>
	<p>During the last four decades, scientists have engaged in research that has increased our understanding of human cognition, providing greater insight into how knowledge is organized, how experience shapes understanding, how people monitor their own understanding, how learners differ from one another, and how people acquire expertise.</p>
	<h5>29. Explain the nature and function of a high level language’s constructs and syntax(C++) :</h5>
	<p>( as in the letter c) is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system.</p>
	<h5>30. Describe the concept of control constructs :</h5>
	<p>In computer science, control flow (or flow of control) is the order in which individual statements, instructions or function calls of an imperative program are executed or evaluated. The emphasis on explicit control flow distinguishes an imperative programming language from a declarative programming language.</p>
	<h5>31. Explain Looping techniques :</h5>
	<p>Looping Statements in C execute the sequence of statements many times until the stated condition becomes false. A loop in C consists of two parts, a body of a loop and a control statement. The control statement is a combination of some conditions that direct the body of the loop to execute until the specified condition becomes false.</p>
	<h5>32. Describe key concepts of simple and dynamic data structures :</h5>
	<p>A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose.</p>
	<h5>33. Identify the tools, practices and methodologies used in the specification, design, implementation and evaluation of computer programs :</h5>
	<p>PAYOFF IDEA. Software tools and techniques are most widely used by systems analysts and programmers for developing and maintaining systems.</p>
	<h5>34. Describe the concept of different number systems :</h5>
	<p>This article is about expressing numbers with symbols. For different kinds of numbers, see Number system.</p>
	<h5>35. Define the different types of logic gates and logic functions :</h5>
	<p>A logic gate is a device that acts as a building block for digital circuits.</p>
	<h5>36. Explain the concept of Boolean functions and Boolean algebra :</h5>
	<p>In 1854 George Boole introduced a systematic treatment of logic and developed for this purpose an algebraic system known as symbolic logic, or Boolean algebra.</p>
	<h5>37. Explain the concept of sequential logic circuits :</h5>
	<p>Unlike Combinational Logic circuits that change state depending upon the actual signals being applied to their inputs at that time, Sequential Logic circuits have some form of inherent “Memory” built in.</p>
	<h5>38. Define different types of flip-flops and latches :</h5>
	<p>In electronics, a flip-flop is a special type of gated latch circuit.</p>
	<h5>39. Identify different types of computer memories and their arrangements :</h5>
	<p>Computer memory is a generic term for all of the different types of data storage technology that a computer may use, including RAM, ROM, and flash memory.</p>
	<h5>40. Discuss different types of prefabricated integrated circuits and logic families :</h5>
	<p>Upon completing this course the student will have learned, through appropriate classroom and laboratory experiences.</p>
	<h5>41. Describe basic knowledge and understanding of fundamental principles of computer architectures how these support IT-based applications :</h5>
	<p>Each machine has its own, unique personality which probably could be defined as the intuitive sum total of everything you know and feel about it. This personality constantly changes, usually for the worse, but sometimes surprisingly for the better...</p>
	<h5>42. Define different techniques of integration :</h5>
	<p>Over the next few sections we examine some techniques that are frequently successful when seeking antiderivatives of functions. Sometimes this is a simple problem, since it will be apparent that the function you wish to integrate is a derivative in some straightforward way.</p>
	<h5>43. Model a simple system to obtain first order differential equations. Visualize solutions of first order ODE :</h5>
	<p>We begin this section by defining general differential equations involving first derivatives. We then look at slope fields, which give a geometric picture of the solutions to such equations. Finally we present Picard’s Theorem, which gives conditions under which first-order differential equations have exactly one solution.</p>
	<h5>44. Define first order linear homogeneous and non-homogeneous differential equations :</h5>
	<p>We have already seen a first order homogeneous linear differential equation, namely the simple growth and decay model.</p>
	<h5>45. Describe applications of first order differential equations in different fields :</h5>
	<p>Learn to solve typical first order ordinary differential equations of both homogeneous and non‐homogeneous types with or without specified conditions.</p>
	<h5>46. Explain basic knowledge and understanding of a core of analysis, algebra and applied mathematics :</h5>
	<p>During the twentieth century, the meaning of successful mathematics learning underwent several shifts in response to changes in both society and schooling. For roughly the first half of the century.</p>
	<h5>47. Knowledge about different sources of magnetic fields :</h5>
	<p>A magnetic field is a vector field that describes the magnetic influence on moving electric charges, electric currents.</p>
	<h5>48. Explain the contribution of Maxwell’s equations in the field of electromagnetism and their role in explanation of all forms of electromagnetic phenomena :</h5>
	<p>Maxwell's equations are a set of coupled partial differential equations that, together with the Lorentz force law, form the foundation of classical electromagnetism, classical optics, and electric circuits.</p>
	<h5>49. Define the concepts of Interference, diffraction and polarization of visible light :</h5>
	<p>A light wave is an electromagnetic wave that travels through the vacuum of outer space. Light waves are produced by vibrating electric charges.</p>
	<h5>50. Describe the superconductivity as one of the promising phenomenon in physics and technology :</h5>
	<p>Superconductivity is a set of physical properties observed in certain materials where electrical resistance vanishes and magnetic flux fields are expelled from the material.</p>
	<h5>51. Describe the relativity as a generalization of existing fundamental concepts of physics :</h5>
	<p>General relativity, also known as the general theory of relativity, is the geometric theory of gravitation published by Albert Einstein in 1915 and is the current description of gravitation in modern physics.</p>
	<h5>52. Define basic knowledge and understanding of a core of analysis and applied mathematics :</h5>
	<p>Mathematics is often described as the science of patterns. Mathematicians seek to discover, analyze and classify patterns in both abstract objects and natural phenomena. The traditional domains of study are quantity (arithmetic).</p>
	<h5>53. Interpreting and analyzing data qualitatively and/or quantitatively :</h5>
	<p>Unfortunately, this statement was not made by a soap opera actor but by a real student writing an in-class essay about conflicts in which he had participated.</p>
	<h5>54. Explain the nature and role of accounting :</h5>
	<p>Accounting or accountancy is the measurement, processing, and communication of financial and non-financial information about economic entities such as businesses and corporations.</p>
	<h5>55. Explain the nature of three major financial statements :</h5>
	<p>The information found on the financial statements of an organization is the foundation of corporate accounting. This data is reviewed by management, investors, and lenders for the purpose of assessing the company's financial position.</p>
	<h5>56. Discuss the accounting conventions underpinning the balance sheet :</h5>
	<p>If you want to start your own business, you need to maintain detailed and accurate records of business performance in order for you, your investors, and your lenders, to make informed decisions about the future of your company.</p>
	<h5>57. Explain cash flows from operating, investing, and financing activities; direct and indirect method :</h5>
	<p>The statement of cash flows presents sources and uses of cash in three distinct categories: cash flows from operating activities, cash flows from investing activities, and cash flows from financing activities. Financial statement users are able to assess a company’s strategy and ability to generate a profit and stay in business by assessing how much a company relies on operating, investing, and financing activities to produce its cash flows.</p>
	<h5>58. Describe tools of analysis :</h5>
	<p>Data analysis tools help researchers make sense of the data collected. It enables them to report results and make interpretations. How the data is analyzed depends on the goals of the project and the type of data collected.</p>
	<h5>59. Identify a critical understanding of the broad context within which computing including issues such as enterprise and accounting :</h5>
	<p>Increasing the number of high growth firms (HGFs) is now a major focus for industry policy in developed countries. However, existing approaches are proving ineffective.</p>
	<h5>60. Show a critical understanding of the broad context within computing including issues such as quality, reliability, enterprise, employment law and accounting :</h5>
	<p>SMEs (small and medium-sized enterprises) account for 60 to 70 per cent of jobs in most OECD countries, with a particularly large share in Italy and Japan, and a relatively smaller share in the United States. Throughout they also account for a disproportionately large share of new jobs.</p>
	<h5>61. Provide a deeper understanding of legal, professional and moral aspects of the exploitation of IT :</h5>
	<p>A lawyer, as a member of the legal profession, is a representative of clients, an officer of the legal system and a public citizen having special responsibility for the quality of justice.</p>
	<h5>62. Demonstrate strong knowledge of business information systems :</h5>
	<p>Management Information Systems (MIS) is the key factor to facilitate and attain efficient decision making in an organization. This research explores the extent to which management information systems implemented to make successful decisions at two selected financial organizations.</p>
	<h5>63. Provide a deeper understanding of some aspects of decision support systems :</h5>
	<p>With increasing relevance of transdisciplinary research approaches and impact orientation of scientific achievements, research projects in agricultural landscape management frequently develop information and decision support tools (IS/DSS).</p>
	<h5>64. Demonstrate a working knowledge within key domains of management, business, economics, operations management, corporate finance, marketing, and strategic planning :</h5>
	<p>The concept of strategy originates with the art of warfare. According to Webster’s Dictionary, strategy can be defined as, “the science or art of combining and employing the means of war in planning and directing large military movements and operations” or “a plan, method, or series of maneuvers or stratagems for obtaining a specific goal or result.”</p>
	<h2>B. Intellectual Skills :</h2>
	<h5>1. Define traditional and nontraditional problems, set goals towards solving them, and observe results :</h5>
	<p>In order to effectively manage and run a successful organization, leadership must guide their employees and develop problem-solving techniques. Finding a suitable solution for issues can be accomplished by following the basic four-step problem-solving process and methodology outlined below.</p>
	<h5>2. Restrict solution methodologies upon their results :</h5>
	<p>Creativity is linked to fundamental qualities of thinking and how we utilize our bank of prior experience, such as flexibility and tolerance of ambiguity and the fear and anxiety of the unknown.</p>
	<h5>3. Perform problem analysis from written descriptions; derive requirements specifications from an understanding of problems (analysis, synthesis) :</h5>
	<p>requirements analysis focuses on the tasks that determine the needs or conditions to meet the new or altered product or project, taking account of the possibly conflicting requirements of the various stakeholders, analyzing, documenting.</p>
	<h5>4. Perform comparisons between (methods, techniques...etc) :</h5>
	<p>Clinicians often need to know if a new method of measurement is equivalent to an established one already in clinical use. This paper reviews the methodology of a method-comparison study to assist the clinician with the conduct and evaluation of such studies.</p>
	<h5>5. Summarize the proposed solutions ad their results :</h5>
	<p>Pressures on the environment will continue to increase. Global population increase, rising incomes, and agricultural and industrial expansion will inevitably produce unanticipated and potentially deleterious ecological, economic, and human health consequences.</p>
	<h5>6. Establish criteria, and verify solutions :</h5>
	<p> The Verification Process confirms that Design Synthesis has resulted in a physical architecture that satisfies the system requirements. Throughout a system’s life cycle, design solutions at all levels of the physical architecture are verified to meet specifications.</p>
	<h5>7. Identify attributes, components, relationships, patterns, main ideas, and errors :</h5>
	<p>Simple repeating and increasing/growing patterns consist of a series of related elements—each new element related to the previous in some manner. Students must be able to identify the relationship in order to understand the pattern.</p>
	<h5>8. Identify a range of solutions and critically evaluate and justify proposed design solutions :</h5>
	<p>Design is fundamentally an innovative process. The methods discussed in this chapter are intended to support identification and exploration of design alternatives to meet the requirements revealed by analyses of opportunity space and context of use.</p>
	<h5>9. Identify and analyze simple electrical circuits :</h5>
	<p>Electric circuit, path for transmitting electric current. An electric circuit includes a device that gives energy to the charged particles constituting the current.</p>
	<h5>10. Analyze different types of functions using algebra and calculus :</h5>
	<p>A function is a relation between a set of inputs and a set of permissible outputs, provided that each input is related to exactly one output. An example is the function that relates each real number.</p>
	<h5>11. Identify a range of solutions and critically evaluate and justify proposed design solutions :</h5>
	<p>All teams and organizations will encounter challenges as they grow. There are problems that might occur for teams when it comes to communication, resolving business-critical issues, or challenges around growth, design, user activation, and retention, or development. In short, problem solving should be part of your teams skillset.</p>
	<h5>12. Identify the relation between Work and Energy (Potential and Kinetic) :</h5>
	<p>Let us have a look at a shot-putter, for example. He used a force of 1206 N to displace the shot by 0,5 m in the direction of the throw. The force used was constant.</p>
	<h5>13. Identify a range of solutions and critically evaluate and justify proposed design solutions :</h5>
	<p>We've all had our share of problems - more than enough, if you come right down to it. So it's easy to think that this section, on defining and analyzing the problem, is unnecessary. "I know what the problem is," you think. "I just don't know what to do about it."</p>
	<h5>14. Perform analysis from written descriptions :</h5>
	<p>Across the hundreds of students we work with, descriptive writing (as opposed to analytical writing) is an incredibly pervasive problem. It’s also one of the most common issues we see in marker feedback when students approach us after having failed an assignment or getting feedback from their research supervisor. In this post, we’ll explain the difference between analysis and description – in simple, straightforward terms.</p>
	<h5>15. Identify attributes, components, main ideas and typos :</h5>
	<p>This standard establishes requirements regarding the process of identifying and assessing risks of material misstatement of the financial statements.</p>
	<h5>16. Differentiate between the dominant perspectives in the field of organizational behavior :</h5>
	<p>Organizational Behavior is the study of the human aspects of organizations. Organization Theory is a broader concept and, apart from the human aspects, it is interested in the purpose of the organizations, their interaction with the external environment, the use of the technology and the economic aspects.</p>
	<h5>17. Identify specific steps managers can take to motivate employees :</h5>
	<p>Unfortunately, the same cannot always be said about your employees. In a 2015 SHRM Employee Job Satisfaction and Engagement survey, only 69 percent of employees felt they were consistently putting all their effort into their work.</p>
	<h5>18. Identify attributes, components, relationships, patterns and main ideas :</h5>
	<p>The entity relationship (ER) data model has existed for over 35 years. It is well suited to data modelling for use with databases because it is fairly abstract and is easy to discuss and explain. ER models are readily translated to relations. ER models, also called an ER schema, are represented by ER diagrams.</p>
	<h5>19. Break a large problem into smaller parts, writing each part as a module or function :</h5>
	<p>When you are faced with a big task, it helps if you break the task down into smaller, more manageable parts. This will help you avoid stress and procrastination. People who procrastinate often comment that when they wait until the last minute, they feel overwhelmed, and the task seems insurmountable.</p>
	<h5>20. Generate an innovative design to solve a problem containing a range of commercial and industrial constraints :</h5>
	<p>Einstein was certainly right — we can’t solve problems by using the same kind of thinking we used when we created them. In addition, with the rapid changes in society, the methods we have previously used to solve many of the problems we face are no longer effective.</p>
	<h5>21. Analyze the requirements of a range of computer-based systems and examine the design alternatives based on the constraints imposed by society, organizations, and technology :</h5>
	<p>Given the rapid advances and the increased reliance on technology, the question of how it is changing work and employment is highly salient for scholars of organizational psychology and organizational behavior (OP/OB). This article attempts to interpret the progress, direction, and purpose of current research on the effects of technology on work and organizations.</p>
	<h5>22. Work with and model computer systems at different and appropriate levels of abstraction :</h5>
	<p>The programs you write and use are software, but underneath these programs is more software that helps them work. In this lab, we'll look at four layers of abstraction in the software domain.</p>
	<h5>23. Enhance ability to approach problems systematically :</h5>
	<p>Everybody can benefit from having good problem solving skills as we all encounter problems on a daily basis. Some of these problems are obviously more severe or complex than others.</p>
	<h5>24. Simplify logic circuits using Boolean algebra and Karnaugh maps :</h5>
	<p>This article provides insight into the Karnaugh map (K-map) Boolean algebraic simplification technique via a few examples. It also includes a brief note on the advantages and the disadvantages of K-maps.</p>
	<h5>25. Design simple logic circuits :</h5>
	<p>The design mechanism of combinational logic circuits is usually a Introduction multi-step process. The realization, and the subsequent minimization, of the logic function is not the end of the design.</p>
	<h5>26. Analyze and design simple sequential circuits :</h5>
	<p>Up to this point we have considered two types of circuits: the basic set of combinational circuits and the simple sequential circuits called flip-flops.</p>
	<h5>27. Summarize the proposed solutions and their results :</h5>
	<p>The Knowledge Valorization Week has showcased excellent examples of strategies and tools to boost the uptake of research results that benefit all. It has connected policy makers and stakeholders from across Europe and nudged dialogue and knowledge sharing.</p>
	<h5>28. Identify a range of solutions and critically evaluate and justify proposed design solutions :</h5>
	<p>Deciding which solution best addresses your problem involves a number of steps. In this article Nick Patterson describes the process of identifying, selecting and implementing solutions to problems.</p>
	<h5>29. Demonstrate intuitive and computational understanding of integration, infinite series, and first order differential equations :</h5>
	<p>All ten Assignments count. No late assignments will be accepted. Assignments must be submitted in a single PDF with a required assignment cover sheet by 13:35 on the due dates. Assignments missing a required cover sheet will not be marked.</p>
	<h5>30. Identify optical waves as just a type of electromagnetic waves :</h5>
	<p>In this module we examine how electromagnetic waves are classified into categories such as radio, infrared, ultraviolet, and so on, so that we can understand some of their similarities as well as some of their differences.</p>
	<h5>31. Identify the main users of financial information :</h5>
	<p>The ultimate goal of accounting is to provide information that is useful for decision-making. Users of accounting information are generally divided into two categories: internal and external. Internal users are those within an organization who use financial information to make day-to-day decisions. Internal users include managers and other employees who use financial information to confirm past results and help make adjustments for future activities.</p>
	<h5>32. Distinguish between financial & management accounting :</h5>
	<p>Most accounting tasks can be divided into financial accounting and managerial accounting. It is useful to describe the differences between these two aspects of accounting, since each one describes a distinctly different career path.</p>
	<h5>33. Raise the questions or objectives of analysis :</h5>
	<p>This unit begins by describing what we understand by the term ‘research’. Research is considered as a process and the key stages that provide a basic plan for conducting research are identified. Discussions then move on to the role of research in both the natural and social sciences.</p>
	<h5>34. Solve information technology problems with pressing commercial or industrial constraints :</h5>
	<p>If I were given one hour to save the planet, I would spend 59 minutes defining the problem and one minute resolving it,” Albert Einstein said.</p>
	<h5>35. Generate an innovative design to solve a problem containing a range of commercial and industrial constraints :</h5>
	<p>If I were given one hour to save the planet, I would spend 59 minutes defining the problem and one minute resolving it,” Albert Einstein said.</p>
	<h5>36. Generate an innovative design to solve a problem containing a range of commercial and industrial constraints :</h5>
	<p>Advances in business and engineering research and computer technology have expanded managers’ use of mathematical models. A model represents the essential features of an object, system, or problem without unimportant details. The models in this supplement have the important aspects represented in mathematical form using variables, parameters, and functions.</p>
	<h5>37. Generate an innovative design to solve a problem containing a range of commercial and industrial constraints :</h5>
	<p>Software systems are at the heart of all successful modern businesses. These systems are complex and long-lived, and must be robust and adaptable. Our Software Engineering programmers emphasize a study of software design and production techniques, and equip you with the skills needed to follow a career specifying and developing such systems. Software engineering techniques consider the whole life cycle of an application, from its specification and design, through its implementation and testing, to its maintenance and adaptation.</p>
	<h5>38.Recognize the professional, moral and ethical issues of involved in the exploitation of computing and be guided by their adoption, reflect on issues of professional practice within the discipline :</h5>
	<p>Acceptable Use of Information and Communication Systems – outlines entitlements and responsibilities for the acceptable use of the information and communications systems at WHO.</p>
	<h5>39. Recognize risks aspects involved in the operation of computing systems and projects :</h5>
	<p>The Information Technology Laboratory (ITL) at the National Institute of Standards and Technology promotes the U.S. economy and public welfare by providing technical leadership for the nation’s measurement and standards infrastructure. ITL develops tests, test methods, reference data, proof-ofconcept implementations, and technical analyses to advance the development and productive use of information technology.</p>
	<h2>C. Professional and Practical Skills :</h2>
	<h5>1. Use appropriate programming languages and design methodologies :</h5>
	<p>Embedded systems development, engineers are concerned with both software and hardware aspects of the system. Once the design specifications of a system are clearly defined and converted into appropriate design elements, the system implementation process can take place by translating those designs into software and hardware components.</p>
	<h5>2. Master the basic functions of the Windows operating system :</h5>
	<p>Note that we said that an operating system is a set of programs. The most important program in the operating system, the program that manages the operating system, is the supervisor program, most of which remains in memory and is thus referred to as resident. The supervisor controls the entire operating system and loads into memory other operating system programs (called nonresident) from disk storage only as needed.</p>
	<h5>3. Master the basics of computer maintenance :</h5>
	<p>Although computers still tend to intimidate many people, and the idea of fixing them on their own is even worse, learning some simple computer maintenance things can make life a lot simpler. Sometimes a computer may need the services of a qualified technician, but sometimes a simple fix or regular maintenance is all it needs. Here are 5 basic computer maintenance tips for PC users.</p>
	<h5>4. Make effective use of general computing facilities :</h5>
	<p>General good computing practices and tips that apply to most people who use a computer.</p>
	<h5>5. Evaluate systems in terms of their quality and possible trade-offs, evaluate appropriate hardware solutions for given scenarios :</h5>
	<p>Software plays an increasingly large role in our society. Many services that we take for granted would have been impossible to create without the use of software. Software systems are in turn becoming more and more complex.</p>
	<h5>6. Identify any risks or safety aspects that may be involved in the operation of computing equipment within a given context :</h5>
	<p>The long-term use of computers has been linked to a range of potential health problems, or "computing related disorders" (CRDs).</p>
	<h5>7. Operate computing equipment efficiently, taking into account its logical and physical properties :</h5>
	<p>The students learns about the force of interaction between charges (Coulomb's law), the Electric field and the Gauss's law, the electric potential, the capacitances and the effect of dielectrics. They also learn about the steady current and resistances.</p>
	<h5>8. Deal with electrical and electronic circuits :</h5>
	<p>The increasing demand in home and industry for electronic devices has encouraged designers and researchers to investigate new devices and circuits using new materials that can perform several tasks efficiently with low IC (integrated circuit) area and low power consumption.</p>
	<h5>9. Design simple electronic circuits :</h5>
	<p>Generally, success in early projects plays a vital role in the field of electronics for engineering students’ careers. Many students quit electronics due to failing in their first attempt.</p>
	<h5>10. Use calculus to compute, graph, model, and solve problems :</h5>
	<p>We have seen that differential calculus can be used to determine the stationary points of functions, in order to sketch their graphs. Calculating stationary points also lends itself to the solving of problems that require some variable to be maximized or minimized. These are referred to as optimization problems.</p>
	<h5>11. Solve applications from different fields involving various meanings of the derivative and integral :</h5>
	<p>We have seen how integration can be used to find an area between a curve and the xx-axis. With very little change we can find some areas between curves; indeed, the area between a curve and the xx-axis may be interpreted as the area between the curve and a second "curve'' with equation y=0y=0. In the simplest of cases, the idea is quite easy to understand.</p>
	<h5>12. Apply tools and techniques for the design and development of applications :</h5>
	<p>If you’re thinking about becoming a software or web developer, something important to understand is, you will rarely (if ever) work alone. Even if you decide to start a career as a freelance developer, you will more than likely be called on to collaborate with others to meet the client’s needs.</p>
	<h5>13. Apply different Physics concepts not only in his field of study but also in life :</h5>
	<p>Until the past decade, scientists, research institutions, and government agencies relied solely on a system of self-regulation based on shared ethical principles and generally accepted research practices to ensure integrity in the research process.</p>
	<h5>14. Apply laws of motion to different types of moving objects in space :</h5>
	<p>In the final example of the last section, we saw how we could calculate a dynamic acceleration based on a vector pointing from a circle on the screen to the mouse position.</p>
	<h5>15. Define scientific problems properly and trying their solution :</h5>
	<p>Research is often described as a problem-solving activity, and as a result, descriptions of problems and solutions are an essential part of the scientific discourse used to describe research activity.</p>
	<h5>16. Solve scientific problems :</h5>
	<p>This book describes how one can use The Scientific Method to solve everyday problems including medical ailments, health issues, money management, traveling, shopping, cooking, household chores, etc.</p>
	<h5>17. Identify any risks or safety aspects that may be involved in the operation of computing equipment within a given context :</h5>
	<p>Many schools and colleges have dedicated ICT suites, while others locate all or some of their computers in ordinary classrooms.</p>
	<h5>18. Operate computing equipment efficiently, taking into account its logical and physical properties :</h5>
	<p>The objectives of this course are to introduce the principles of Modern Computer Architecture and design. Computers are built from the following key components: Data paths, Control unit (controls everything in the CPU).</p>
	<h5>19. Perform independent information acquisition using the scientific literature and Web sources :</h5>
	<p>Scientific Reports is an online multidisciplinary, open access journal from the from across the scope of Scientific Reports, with very frequent updates. ... Find out everything you need to do before submitting your research.</p>
	<h5>20. Effectively deploy tools for the documentation :</h5>
	<p>Software deployment tools make the process of distributing software and updates as easy as possible. Often, these tasks are automatic or scheduled to enable software developers to focus on what they do best – writing code.</p>
	<h5>21. Appreciate the need for continuing professional development in recognition of the need for lifelong learning :</h5>
	<p>it’s fair to say the first part of your mission is well and truly accomplished. Sit back and give yourself a pat on the back. But don’t take too long about it or you’ll be lagging behind your colleagues.</p>
	<h5>22. Apply different concepts related to organizational behavior and human perception :</h5>
	<p>The traditional textbook publishing model no longer serves the interests of students, educators, and authors. Textbooks are too expensive for students and too inflexible for instructors. And authors, the major, initial source of value in the industry.</p>
	<h5>23. Analyze different concepts related to leadership and decision making :</h5>
	<p>In organizational leadership and management operations, decision making has emerged as one of the most dynamic, ongoing, challenging, and active areas of leadership investigations. Organizational leadership functions (OLF) are critical, challenging, special, subtle, and complex in nature. Too often we confuse things like personal style and a position of authority with leadership.</p>
	<h5>24. Apply different concepts related to managing conflict, stress, and communication :</h5>
	<p>Conflict occurs frequently in any workplace; health care is not an exception. The negative consequences include dysfunctional team work, decreased patient satisfaction, and increased employee turnover.</p>
	<h5>25. Appreciate the need for continuing professional development in recognition of the need for lifelong learning :</h5>
	<p>Continuing professional development (CPD) is central to nurses’ lifelong learning and constitutes a vital aspect for keeping nurses’ knowledge and skills up-to-date. While we know about the need for nurses’ continuing professional development, less is known about how nurses experience and perceive continuing professional development.</p>
	<h5>26. Use appropriate programming languages and tools, and design methodologies :</h5>
	<p>There are many programming languages to choose from. The TIOBE Index is a list of programming languages, ranked in order of popularity. This article lists (most of) the top 43 languages on that list (a small number of languages that don’t have any jobs listed were excluded.).</p>
	<h5>27. Interpret verbal problem specifications into program code :</h5>
	<p>Programming paradigms are a way to classify programming languages based on their features. Languages can be classified into multiple paradigms.</p>
	<h5>28. Design, write and debug computer programs in C++ language :</h5>
	<p>The whole of the development and operation of analysis are now capable of being executed by machinery ... As soon as an Analytical Engine exists, it will necessarily guide the future course of science.</p>
	<h5>29. Use MSI circuits to design logic circuits :</h5>
	<p>There are several specialized MSI components that have extensive use in digital systems.</p>
	<h5>30. Use programmable devices (ROM, PAL, PLA, ....) to design simple logic circuits :</h5>
	<p>Earlier, the designing of logic circuits can be done using SSI (small scale integration) components like logic gates, multiplexers, de-multiplexers, FFs, etc. But, now a PLD can replace all these SSI components. So this is the reason to decrease the SSI industry compared with PLD,.</p>
	<h5>31. Evaluate systems in terms of their quality and possible trade-offs, evaluate appropriate hardware solutions for given scenarios :</h5>
	<p>Software architecture has been identified as an increasingly important part of software development. The software architecture helps the developer of a software system to define the internal structure of the system.</p>
	<h5>32. Identify any risks or safety aspects that may be involved in the operation of computing equipment within a given context :</h5>
	<p>Risk assessment is a powerful tool that provides a rational framework for designing and managing an OHSP at institutions that use nonhuman primates.</p>
	<h5>33. Recognizing the logical and physical properties of computing equipment :</h5>
	<p>Electronic computers have probably had a more profound effect on our society, on our ways of living, and on our ways of doing business than any other technological creation of this century.</p>
	<h5>34. Test the convergence of infinite series :</h5>
	<p>We have seen that a sequence is an ordered set of terms. If you add these terms together, you get a series. In this section we define an infinite series and show how series are related to sequences. We also define what it means for a series to converge or diverge.</p>
	<h5>35. Use integration and partial fractions in many applications in applied sciences :</h5>
	<p>We have seen that a sequence is an ordered set of terms. If you add these terms together, you get a series. In this section we define an infinite series and show how series are related to sequences. We also define what it means for a series to converge or diverge.</p>
	<h5>36. Solve the first order differential equations :</h5>
	<p>We begin this section by defining general differential equations involving first derivatives. We then look at slope fields, which give a geometric picture of the solutions to such equations. Finally we present Picard’s Theorem, which gives conditions under which first-order differential equations have exactly one solution.</p>
	<h5>37. Apply tools and techniques for the design and development of applications :</h5>
	<p>Information systems are implemented using specialized software. Some information systems rely on software that can be purchased from third-party vendors. However, many information systems need to be adapted to the needs of a particular organization.</p>
	<h5>38. Apply the laws of electricity and magnetism and their applications to the operation of different electronic devices :</h5>
	<p>One of the side effects of each electrical device work is the electromagnetic field generated near its workplace. All organisms, including humans, are exposed daily to the influence of different types of this field, characterized by various physical parameters. Therefore.</p>
	<h5>39. Deal correctly with different electronic equipment used in different scientific and technological laboratories :</h5>
	<p>Achieving, maintaining and improving accuracy, timeliness and reliability are major challenges for health laboratories. Countries worldwide committed themselves to build national capacities for the detection of, and response to, public health events of international concern when they decided to engage in the International Health Regulations implementation process.</p>
	<h5>40. Collect and properly analyze experimental data :</h5>
	<p>Much of the progress in the sciences comes from performing experiments. These may be of either an exploratory or a confirmatory nature. Experimental evidence can be contrasted with evidence obtained from other sources such as observational studies, anecdotal evidence, or “from authority”.</p>
	<h5>41. Operate computing equipment efficiently, taking into account its logical and physical properties :</h5>
	<p>In computing, virtualization means creating a virtual version of a device or resource, such as a server, storage device, network or even an operating system where the resource is divided into one or more runtime environments.</p>
	<h5>42. Prepare a simple balance sheet, interpreting the information that it contains :</h5>
	<p>A balance sheet is a financial statement that reports a company's assets, liabilities and shareholders' equity at a specific point in time, and provides a basis for computing rates of return and evaluating its capital structure.</p>
	<h5>43. Analyze the items that belong to current assets account, including cash, accounts receivable and inventory :</h5>
	<p>Current assets represent all the assets of a company that are expected to be conveniently sold, consumed, used, or exhausted through standard business operations with one year.</p>
	<h5>44. Analyze the information included in cash flow statements :</h5>
	<p>The statement of cash flows, or the cash flow statement, is a financial statement that summarizes the amount of cash and cash equivalents entering and leaving a company.</p>
	<h5>45. Make effective use of general IT facilities, plan and manage a project to complete within budget and schedule :</h5>
	<p>During the execution of a project, procedures for project control and record keeping become indispensable tools to managers and other participants in the construction process.</p>
	<h5>46. Make effective use of general IT facilities, plan and manage a project to complete within budget and schedule :</h5>
	<p>Every project boils down to money. If you had a bigger budget, you could probably get more people to do your project more quickly and deliver more. That’s why no project plan is complete until you come up with a budget.</p>
	<h5>47. Appreciate the need for continuing professional development in recognition of the need for lifelong learning :</h5>
	<p>Background continuing professional development (CPD) is central to nurses’ lifelong learning and constitutes a vital aspect for keeping nurses’ knowledge and skills up-to-date. While we know about the need for nurses’ continuing professional development, less is known about how nurses experience and perceive continuing professional development.</p>
	<h2>D. General and Transferable Skills :</h2>
	<h5>1. Communicate effectively by oral, written and visual means :</h5>
	<p>After reading this guide, you will better understand the four main types of communication: Verbal, non-verbal, written, and visual.</p>
	<h5>2. Use IT skills and display mature computer literacy :</h5>
	<p>Computer literacy is defined as the knowledge and ability to use computers and related technology efficiently, with skill levels ranging from elementary use to computer programming and advanced problem solving.</p>
	<h5>3. Demonstrate efficient IT capabilities :</h5>
	<p>If you ask them which companies they admire, people quickly point to organizations like General Electric, Starbucks, Nordstrom, or Microsoft. Ask how many layers of these companies have, though, or how they set strategy, and you’ll discover that few know or care.</p>
	<h5>4. Work effectively as an individual and as a member of a team :</h5>
	<p>If you don’t know what needs to be done, and by when, it’s quite hard to make it happen by your deadline.</p>
	<h5>5. Lead and motivate individuals :</h5>
	<p>Being the leader of a team is a huge responsibility, regardless of whether you’re the CEO, department manager, or supervisor.</p>
	<h5>6. Work in stressful environment and within constraints :</h5>
	<p>Stress has become an ever-increasing focal point in the world of business. As an employee, you hear about it all the time. Downsizing at a company creates stress among the remaining workers when workloads, and time at work, increase. Surveys show us that employees often struggle to find a balance between job responsibilities and family responsibilities.</p>
	<h5>7. Manage one's own learning and personal and professional development.
Develop Creativity and imagination skills, Self-assessment ability and Critical thinking and analytic ability :</h5>
	<p>The European Pillar of Social Rights states as its first principle that everyone has the right to quality and inclusive education, training and lifelong learning in order to maintain and acquire skills that allow full participation in society and successful transitions in the labor market.</p>
	<h5>8. Preserve a clean environment in all aspects :</h5>
	<p>Unfortunately, humans have not been very good stewards of the Earth over the years. To protect the environment and preserve the planet for our children and future generations, we all need to take proactive steps toward cleaner living habits.</p>
	<h5>9. Take the concept of the academic honesty as a principal in their career :</h5>
	<p>Having integrity means doing the right thing, even when no one is looking. It means upholding the academic honesty policies set forth by the University and the Bauer College.</p>
	<h5>10. Collaborate effectively within multidisciplinary team :</h5>
	<p>In today’s health care system, delivery processes involve numerous interfaces and patient handoffs among multiple health care practitioners with varying levels of educational and occupational training.</p>
	<h5>11. Prepare technical reports, and a dissertation, to a professional standard :</h5>
	<p>This guide provides guidelines to engineering students for writing technical reports (for example on vacation work, experiments, design projects and final year projects), theses and dissertations.</p>
	<h5>12. Search for information and adopt life-long self-learning :</h5>
	<p>Learning is about reaching your full potential and can help you achieve self-actualization, the highest need identified by Maslow’s Hierarchy of Needs. However, traditional education generally has a beginning and an end which culminates in taking tests.</p>
	<h5>13. Prepare their work in the form of reports, oral presentations or an internet web site :</h5>
	<p>Effective presentation is much more than just presenting your ideas or delivering a speech. It is about skillful communication and relating to the audience—whether the audience is a few people or a large gathering.</p>
	<h5>14. Develop strong problem-solving and decision-making skills, and will be able to apply those skills effectively in all aspects of their future lives :</h5>
	<p>Problem solving and decision making belong together. You cannot solve a problem without making a decision. There are two main types of decision makers. Some people use a systematic, rational approach.</p>
	<h5>15. Work in stressful environment and within constraints :</h5>
	<p>Surprisingly, most studies have failed to demonstrate a strong correlation between organizational constraints (conditions at work that make doing a job difficult) and job performance.</p>
	<h5>16. Acquire entrepreneurial skills :</h5>
	<p>There’s a question that haunts every would-be entrepreneur – and many actual entrepreneurs – every day: “How do I know if I have what it takes?” Yes, the Internet is full of ideas, tips, tricks and even awesome quotes.</p>
	<h5>17. Manage one's own learning and development, including time management and organizational skills :</h5>
	<p>In today’s busy world, time management skills for students are increasingly important. While you might be yearning for a simpler era when time seemed to move more slowly, the realities of participation in contemporary western society requires young people to have skills in efficiency and productivity.</p>
	<h5>18. Develop interpersonal skills planning and managing personal time and work :</h5>
	<p>“Time management” is the process of organizing and planning how to divide your time between specific activities.</p>
	<h5>19. Work effectively as an individual and as a member of a team :</h5>
	<p>For small groups to function effectively in a course context, students must attend to both the climate within their group and the process by which they accomplish their tasks. Critical to a healthy climate and an effective process are strong communication skills.</p>
	<h5>20. Manage one's own learning and development, including time management and organizational skills :</h5>
	<p>Managing your time well can help you improve in your career. Organizing each day helps you to complete work on time, stay engaged during important meetings and give you space to be creative and proactive in your tasks.</p>
	<h5>21. Manage one's own learning and personal and professional development :</h5>
	<p>Gracey can barely believe that her probationary period is almost over, and she's really enjoying her management role at a small software development company. But she has a nagging worry.</p>
	<h5>22. Develop an understanding to preserve a clean environment in all aspects :</h5>
	<p>The Hallsville landfill was getting too big – everyone knew that. Sooner or later, something would have to be done, but nobody wanted to be the one to bring up the issue. Closing and capping the landfill would mean an increase in taxes, to cover both the capping cost and the added annual expense of trucking Hallsville’s garbage elsewhere.</p>
	<h5>23. Develop a feeling of the importance of learning all times :</h5>
	<p>Learning is essential to our existence. Just like food nourishes our bodies, information and continued learning nourishes our minds. Lifelong learning is an indispensable tool for every career and organization.</p>
	<h5>24. Acquire entrepreneurial skills :</h5>
	<p>This article aims to define crucial skills for the entrepreneurial success of working fine artists as these skills have not yet been clearly identified for this professional group.</p>
	<h5>25. Exhibit appropriate numeracy skills in understanding and presenting cases involving a quantitative dimension :</h5>
	<p>The Programmed for the International Assessment of Adult Competencies (PIAAC) is a global assessment of adult skills, managed by the OECD and implemented by 25 countries in Europe, the Americas and Asia. Data are being collected from August 2011 to March 2012 and results will be available at the end of 2013.</p>
	<h5>26. Develop strong problem-solving and decision-making skills, and will be able to apply those skills effectively in all aspects of their future lives :</h5>
	<p>Learning problem-solving techniques is a must for working professionals in any field. No matter your title or job description, the ability to find the root cause of a difficult problem and formulate viable solutions is a skill that employers value. Learning the soft skills and critical thinking techniques that good problem solvers use can help anyone overcome complex problems.</p>
	<h5>27. Acquire entrepreneurial skills :</h5>
	<p>If you are considering becoming an entrepreneur, there are several essential skill sets that you can develop to increase your entrepreneurial success. Hard skills—like technical and financial skills—can be extremely important to managing a business. Additionally, soft skills–like communication and leadership skills–can also ensure you develop as an entrepreneur.</p>
	<h5>28. Develop strong problem-solving and decision-making skills, and will be able to apply those skills effectively in all aspects of their future lives :</h5>
	<p>Some decisions are so simple that you're barely aware you're making them, while others are time consuming, high risk, and can leave you feeling anxious.</p>
	<h5>29. Build problem-solving and decision-making skills and will be able to apply those skills effectively in all aspects of their future lives :</h5>
	<p>This publication is part of a series of Building the Curriculum papers and is intended to further support planning, design and delivery of the curriculum in pre-school centres, schools3 and colleges. It sets out skills for learning.</p>

</div>

	<main  >

  <br><br>
  <h2 style="color:#61892F ;text-align: center;">ILO's Standerd</h2>
  <div class="card-group" style="box-sizing: border-box;border-radius: 5000px; margin: 80px;"> 
      <div class="card card-primary text-center"style="background-color:#ffffff; border-bottom-left-radius: 55px; border-top-left-radius: 55px;border-color: lightslategray">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/3241984/screenshots/6836075/ilo_03_4x.jpg?compress=1&resize=400x300" alt="Card image cap"alt="Avatar" style="border-top-left-radius: 10%;" >
       <div class="card-body" >
        <div class="badge badge-primary badge-sm" style="color:#61892F">ILO's Standerd</div>
        <div class="card-title"style="color:#6B6E70">ILO Knowledge and Understanding Skills </div>
        <p class="card-text"style="color:#474B4F">a Knowledge and Understanding Skills is a list of skills that the student must cover all of it in a defferent 3 courses by each skill </p>
      </div>
      <div class="card-footer">
        <a href="http://www.bristol.ac.uk/academic-quality/approve/approvalguidance/intendedlearningoutcomes/" class="btn btn-primary btn-icon-right"style="background-color:#86C232; border-radius: 50px" target="_blank">
          <span>readmore
            <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
          </span>
        </a>
      </div>
    </div>
    <div class="card card-primary text-center" style="background-color:#ffffff;border-color: lightslategray">
      <img class="card-img-top" src="https://cdn.dribbble.com/users/3241984/screenshots/6836075/ilo_03_4x.jpg?compress=1&resize=400x300" alt="Card image cap">
      <div class="card-body">
        <div class="badge badge-primary badge-sm" style="color:#61892F">ILO's Standerd </div>
        <div class="card-title"style="color:#6B6E70">ILO Intellectual Skills </div>
        <p class="card-text"style="color:#474B4F">an Intellectual Skills is a list of skills that the student must cover all of it in a defferent 3 courses by each skill<a href="https://www.iso.org/obp/ui/#iso:std:iso-iec:tr:24766:ed-1:v1:en" target="_blank" >
      </div>
      <div class="card-footer">
        <a href="http://www.bristol.ac.uk/academic-quality/approve/approvalguidance/intendedlearningoutcomes/" class="btn btn-primary btn-icon-right"style="background-color:#86C232;border-radius: 50px" target="_blank">
          <span>readmore
            <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
          </span>
        </a>
      </div>
    </div>
    <div class="card card-primary text-center"style="background-color:#ffffff; border-bottom-right-radius:55px;border-top-right-radius: 55px;border-color: lightslategray">
      <img class="card-img-top" src="https://cdn.dribbble.com/users/3241984/screenshots/6836075/ilo_03_4x.jpg?compress=1&resize=400x300" alt="Card image cap" style="border-top-right-radius: 10%;">
      <div class="card-body">
        <div class="badge badge-primary badge-sm" style="color:#61892F"> Professional and Practical ILO Skills</div>
        <div class="card-title"style="color:#6B6E70">ABSTRACT</div>
        <p class="card-text"style="color:#474B4F">a Professional and Practical Skills is a list of skills that the student must cover all of it in a defferent 3 courses by each skill<a href="https://www.iso.org/obp/ui/#iso:std:iso:29994:ed-1:v1:en" target="_blank" >
      </div>
      <div class="card-footer">
        <a href="http://www.bristol.ac.uk/academic-quality/approve/approvalguidance/intendedlearningoutcomes/" class="btn btn-primary btn-icon-right"style="background-color:#86C232;border-radius: 50px " target="_blank">
          <span>readmore
            <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
          </span>
        </a>
      </div>
    </div>
  </div>
  
  
</main>

</body>
</html>