<h1>Edit your skills </h1>
<br> <br>
<%= render 'form', qualification_t: @qualification_t %>
<br>

<%= link_to 'Show', @qualification_t ,class:"btn btn-light"%> |
<%= link_to 'Back', root_path , class:"btn btn-light" %>
