


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCFy97_DmP3bjqLCUBuSjSDX1fOIg3wTMkvqOrPd3g1WxI96LZBTiEbVt3HErAPd_Gzy4&usqp=CAU" class="rounded float-start">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_XZTxoYsicq_ydGgDKW16rb7TItteP413Fw&usqp=CAU" class="rounded float-end">
<center>
  

<h1>About us</h1>


  <div class="shadow-lg p-3 mb-5 bg-body rounded" >The International Organization for Standardization (ISO) is an international nongovernmental organization made up of national standards bodies; it develops and publishes a wide range of proprietary, industrial, and commercial standards and is comprised of representatives from various national standards organizations.</div>
<br><br>

<div class="p-3 mb-2 bg-success text-white" ><h3>  
The ISO story</h3>
</div>
<figure class="figure">
  <img src="https://www.iso.org/sites/bin/timeline/2012_the-iso-story_bw-1.jpg">
  <figcaption class="figure-caption text-end">London 1946.</figcaption>
</figure>

<div class="shadow-none p-3 mb-5 bg-light rounded">Founded in 1947 by a group of delegates from 25 countries, the 67 original technical committees of ISO came together with a unified goal of ensuring products and services are safe, reliable, and of good quality. The very first ISO standard, called “ISO/R 1:1951” – was first published in 1951 to set a standard reference temperature for industrial length measurements. Today, that standard still exists (after many updates) as ISO 1:2002.

Over the decades following, ISO created committees and published standards for everything from units of measure to freight containers and environmental quality. It was not until 1987 that ISO 9001 – one of the most recognizable standards today – was published as ISO’s first quality management standard. The environmental standard ISO 14001 followed not long after in 1996, and ISO has only increased its output of new guidance since, branching out into fields such as information security, social responsibility, energy management, and even corporate integrity.

Having celebrated its 70th anniversary in 2017, ISO stands as a strong player in international industries. Today, with 22,401 International Standards covering all aspects of business and technology, and members from 161 countries, ISO has its eye on the future of quality and safety certification.</div>














<link id="staticAssetCSS0" rel="stylesheet" href="https://cdn.iso.org/resources/wood/3.3.1/wood.full.min.css" media="screen,print,handheld" type="text/css"/>




  <body  style="background-color:#262626;color:#262626" , class="theme-red", id="offcanvas-content">

         

    




        
</div></li></ul>

      </div>
    </div>
  </div>
</section>

</div>
      </div>
    </div>
  </div>


  </br></br></br></br></br>



</section><div class="clear"></div>
      <div class="nav-breadcrumb print-footer bg-darkgray">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 small">
              <!-- BREADCRUMB -->
              <ol class="breadcrumb">

    
      <li><a href="/home.html" title="Home page"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
    
  
        <li>
          <%= link_to "home" ,
          root_path  %>
             
            
        </li>
      
        <li>
          
 <%= link_to "login" ,
         user_session_path %>

        </li>
      
        <li>
          
              <%= link_to "qualification" ,
          qualifications_index_path  %>
            
        </li>
      
    
    
      
    
  </ol><div class="clear"></div>

            </div>
           
          </div>

          <div class="collapse border-top" id="collapseSitemap">
            <div class="row">
              <!-- SITEMAP -->
              <nav role="navigation" aria-label="Sitemap" class="sitemap-footer clearfix small" id="nav-sitemap"></nav><div class="clear"></div>
            </div>
          </div>
        </div>
      </div>

      
      <footer role="contentinfo" aria-label="Footer" class="footer-iso footer-dark bg-darkergray">
        <div class="container">
          <div class="footer-links center-block">
            <!-- FOOTER LINKS -->
            <nav role="navigation" aria-label="Inline Navigation"  ><li role="none" class="noChildren"><p>Contact us</p></li></nav><div class="clear"></div>
          </div>
          <div class="footer-social ss-icon clearfix">
            <ul itemscope itemtype="https://schema.org/Organization">
              <link itemprop="url" href="https://www.iso.org/">
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.facebook.com/profile.php?id=100006094989603" title="Facebook"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://twitter.com/Osama99Ahmed" title="Twitter"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCcPCfO7UvAtieIHyUFyQ5Sw" title="YouTube"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.linkedin.com/in/ahmed-osama-765847181/" title="Linkedin"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.instagram.com/ahmed_osama_xx/" title="Instagram"></a></li>
              
            </ul>
          </div>
          <p class="lead">We wish that our services help you </p>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 pull-left">
              <p class="text-xs"> If you have any questions or suggestions regarding the accessibility of this site, please contact us 
              <p class="text-sm"> </p>
            </div>
          </div>
        </div>
     
      
      </footer>

    </main>

    

  </body>
</html>